

body{

    margin: 0;
    padding: 0;
}
.ahead_title{

    font-family: 'Italianno', serif;
}
.header{
display: flex;
width: 100%;
height: 111px;
background-color: gray;
justify-content: space-around;
align-items: center;
}

.contacts{

    transform: translateX(22px);
    position: absolute;
    margin-right:140px;
    color: bisque;
}
.list_skills{
    padding-top: 10px;
    color: bisque;
}

.description{
    font-family:'Shrikhand', serif;
}


aside{


    background: url('.//MyFirstPhoto.jpg') #fff no-repeat;
    position: absolute;
    width: 249px;
    height: 657px;
}

.section-1{
background-color: black;
    width: 100%;
    height: 250px;
}

.section-2{
background-color: brown;
    width: 100%;
    height: 250px;
}
.section-3{
background-color: blue;
    width: 100%;
    height: 157px;
}

.footer{

    background-color: aqua;
    widows: 100%;
    height: 100px;
}
